/* * COFFICO STYLESHEET
* * SEARCH TAGS:
* [--VARS]    - Colors & Fonts
* [--BASE]    - Global Styles
* [--NAV]     - Navigation & Logo
* [--HERO]    - Main Coffee Banner
* 
*/

/* ==========================================================================
   [--VARS]
   ========================================================================== */
:root {
    --text-brown: #392d1a;
    --bean-red: #92433c;
    --bg-cream: #e2dbcb;

    --pacifico: font-family: "Pacifico", cursive;
}

/* ==========================================================================
   [--Base]
   ========================================================================== */
body {
    background-color: var(--bg-cream);
}

/* ==========================================================================
   [--NAV]
   ========================================================================== */
